<div class="hero">
	<br />
	<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Give Life to those in Need</h3>
    <br />
    <p>Many people all around the world are hoping and praying for a life line.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>God is Counting on You</h3>
    <br />
    <p>God is counting on all of us to give to the less privileged.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join Forces With God</h3>
    <br />
    <p>Come and join millions changing the lives of others by reaching out.</p>
  </div>
</div>
  <div class="frosty col-10 offset-1 text-center">	
  	<br />
	<h1>All we are and have are from God. Let's extend his love to others by giving.</h1>
	<br />
	<%= link_to 'Give Pulse', class: 'btn btn-success' %>
	<br /><br />
  </div>	
</div>
<div class="carousel-item">
    <%= image_tag 'heartbeat.png', class: 'd-block img-fluid' %>
    <div class="carousel-caption d-none d-md-block">
      <h4>Give to live?</h4>
 </div>
</div>


